h1{
    color: white;
    text-align: center;
}

h2{
    color: white;
    text-align: center;
    margin-top: 50px;
}

body{
    background-color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    color: white;
    text-align: center;
}

.navButton{
    background-color: black;
    color: white;
    border-style: solid;
    border-radius: 25px;
    border-color: white;
    width: 200px;
    height: 75px;
}

.navButton:hover{
    background-color: white;
    color: black;
}

.socialIcon{
    background-color: white;
    border-image-width: 15%;
    border-radius: 10px;
    margin: 5px 5px;
    width: 50px;
    height: 50px;
}

.socialIcon:hover{
    opacity: 0.6;
}

.centerButtons{
    display: flex;
    justify-content: center;
    row-gap: 50%;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.testing {
    background-color: red;
    display: flex;
    justify-content: center;
    row-gap: 50%;
}

.gridSize {
    display: grid;
    align-content: center;
    gap: 15px 25px;
    grid-template-columns: auto auto auto;
    padding: 50px;
}

.gridSize > .pageOuter {
    border: 5px solid white;
    background-size: cover;
    border-radius: 25px;
    color: white;
    padding: 100px;
    font-size: 25px;
    text-align: center;
    overflow: hidden;
}

.pageInner {
    font-size: 10px;
    text-align: center;
    overflow: hidden;
}

.pageOuter:hover{
    background-color: white;
    color: black;
}